h1, h4 {
    justify-self: center;
}

h4 {
    margin-bottom: 0px;
    color: #0a74ba;
}

hr {
    max-width: 29.75%;
}

main {
    justify-self: center;
    max-width: 450px;
}

li {
    padding: 10px 0;
}

footer {
    justify-self: center;
}

footer img {
    width: 150px;
    height: 75px;
}