body {
    background-color: lightgray;
}

#content {
    justify-items: center;
    border: 1px solid gray;
}

h1 + p {
    color: #04609d;
}

hr {
    height: 3px;
    background-color: #04609d;
    border: 0;
    width: 25%;
}

img {
    display: flex;
    justify-content: center;
    width: 300px;
}

#content h2 {
    justify-self: center;
}

.list {
    display: block;
    list-style-type: none;
    max-width: 349px;
}

li {
    display: block;
    justify-self: left;
}