body {
    background-color: #2a81e2;
    text-align: center;
}

.menu-btn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}

header, footer {
    color: #ffffff;
}

nav {
    display: none;
}

nav.active {
    display: inline-block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #cccccc;
    margin: 0px -8px;
    padding-bottom: 20px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    justify-self: center;
    margin: 10px 0px;
    border: 5px solid #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000000;
}

footer {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    h3 {
        grid-column: 1/3;
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr;
    }
    h3 {
        grid-column: 1/4;
    }
    .menu-btn {
        display: none;
    }
    nav {
        display: inline-block;
        margin-bottom: 10px;
    }
    nav a {
        color: #ffffff;
        padding: 0px 20px;
    }
}